#menu {
    border-top: solid 6px #08203e;
    background-color: #ffffff;
    height: 500px;
    list-style: none;
}

#menu a {
    background-color: #1a0263;
    font-size: large;
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 3px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}
#menu a:hover {
    color: #ffffff;
    text-decoration:underline;
    display: block;
}

#content {
    border-top: solid 6px #e53d2e;

}

#footer {
    margin-top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.form-content {
    padding: 5%;
    margin-bottom: 2%;
}

.form-content .form-control {
    margin-bottom: 3px;
}

.img{
    padding-top: 5px;
}

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(right, #e53d2e, #08203e);
    color: #ffffff;
    font-weight: bold;
    line-height: 80px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

#vendorcontainer {
    margin-top : 3em;
    margin-left: 5px;
    text-align: center;
}

#vendorbar{
    height: 3em;
}

#vendorentry{
    margin-top: 3px;
}

#info{
    max-width: 70%;
}

#permission-buttons{
    text-align: center;
    align-content: center;
}

#change-buttons{
    text-align: center;
    margin-top: 10px;
}