#menu {
    border-top: solid 6px #08203e;
    background-color: #ffffff;
    height: 500px;
    list-style: none;
}

#menu a {
    background-color: #e53d2e;
    font-size: large;
    color: #08203e;
    text-decoration: none;
    display: block;
    padding: 3px;
    margin: 5px;
    text-align: center;
}
#menu a:hover {
    color: #ffffff;
    text-decoration:underline;
    display: block;
}

#content {
    border-top: solid 6px #e53d2e;

}

#footer {
    margin_top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.img{
    padding-top: 5px;
}

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(right, #e53d2e, #08203e);
    color: #ffffff;
    font-weight: bold;
    line-height: 80px;
}